.sidebar {
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #22c55e, #0d4b24);
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s;

  @media screen and (min-width: 601px) {
    display: none;
  }
}

.hide-toggle-button {
  display: none;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sidebar-menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.logo {
  width: 30px;
  height: auto;
  margin-right: 0;
}

.logo1 {
  width: 100%;
  margin-top: -20px;
  height: auto;
}

@media screen and (min-width: 601px) {
  .sidebar {
    display: none;
  }
}