// Layout.scss
.layout {
    display: flex;
    flex-direction: column;
  }
   .sidebar {
    width: 100%;
  }
   .content {
    flex-grow: 1;
  }
   @media screen and (min-width: 600px) {
    .layout {
      flex-direction: row;
    }
     .sidebar {
      width: 200px;
      order: 1;
    }
     .content {
      order: 2;
    }
  }
 